<launch>

    <!-- Set to your sensor's range -->
    <arg name="sensor_range" default="1.0"/>

    <node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>
    

    <node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen" >
 
		<param name="frequency" type="double" value="2.0"/>
        <param name="goal_aliasing" type="double" value="$(arg sensor_range)"/>
        
    <rosparam file="$(find tas_bringup)/param/costmap_common_params.yaml" command="load" ns="explore_costmap" />
    <rosparam file="$(find tas_bringup)/param/costmap_exploration_params.yaml" command="load" ns="explore_costmap" />

  </node>

</launch>
